{% extends 'main/base.html' %}
{% block title %} About | {% endblock %}
{% block content %}

<div>
<img src='https://i.imgur.com/cqAsVZMm.jpg' alt=''/>
</div>
<h1>About Me</h1>
<h2> I am a college student, studying Anthropology and Archeology at NAU in Flagstaff, AZ. I love gaming and most of all,
    finding new places to explore in my Jeep! Nothing fancy, just a Trailhawk version of a 
    Jeep Compass. If I can get out there and explore, so can you!
</h2>
<hr>
<p>A GIRL, a JEEP, and a PASSION TO EXPLORE!</p>
<footer>All Rights Reserved, &copy; 2023 Sydnei Blog</footer>

{% endblock %}