{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home | {% endblock %}


{% block content %}



<body>
    <h1> Welcome to my Blog! Here's what I have been up to! </h1>
    <h2> A GIRL, a JEEP, and a PASSION TO EXPLORE! </h2>
</body>
<br>
    <div>
        
    <img src='https://i.imgur.com/J7hMfp5h.jpg' alt='Syd next to Jeep'/>
    </div>

    <hr>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            {% for post in posts %}
                                <div class="content is-medium">
                                    <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                        {% if post.image %}
                                        <figure class="image">
                                            <img src="{{ post.image.url }}" alt="any">
                                        </figure>
                                        {% endif %}
                                        <h2 class="subtitle is-4">{{ post.created_at|timesince }} ago</h2>
                                        <h1 class="title">{{ post.title }}</h1>
                                        <p>{{ post.intro }}</p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}

